[submodule "httpd"]
	path = httpd
	url = https://github.com/karlbenedict/httpd.git
[submodule "docker-alpine-curl"]
	path = docker-alpine-curl
	url = https://github.com/karlbenedict/docker-alpine-curl.git
